ACTION=="add", SUBSYSTEMS=="usb", SUBSYSTEM=="block", ENV{ID_FS_USAGE}=="filesystem", RUN+="/home/kapilt/Projects/data-backup-experiments/run_backup_as_user.sh"